@model IEnumerable<BookManagement.Models.SACH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ten_sach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Don_gia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Don_vi_tinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mo_ta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hinh_minh_hoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngay_cap_nhat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.So_luong_ban)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.So_lan_xem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.so_luong_con)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CHU_DE.Ten_chu_de)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NHA_XUAT_BAN.Ten_nha_xuat_ban)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten_sach)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Don_gia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Don_vi_tinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mo_ta)
                </td>
                <td>
                    <img src="@Url.Content(String.Format("~/Images/Upload/{0}",@Html.DisplayFor(modelItem => item.Hinh_minh_hoa)+".jpg"))" alt="Image not found" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ngay_cap_nhat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.So_luong_ban)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.So_lan_xem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.so_luong_con)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CHU_DE.Ten_chu_de)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NHA_XUAT_BAN.Ten_nha_xuat_ban)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Ms }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Ms }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Ms })
                </td>
            </tr>
        }

    </table>*@
<div class="row">
    <div class="col-md-12 form-search">
        <h1>Thư viện</h1>
        <hr style="background:#fff">
        <!-- ten sach, tac gia, chu de -->
        <form method="post">
            <div class="form-group row">
                <div class="col-lg-3 col-md-4">
                    <input type="text" class="form-control" id="bookName" placeholder="Tên sách" name="bookName">
                </div>
                <div class="col-lg-3 col-md-4">
                    <input type="text" class="form-control" id="bookCategory" placeholder="Chủ đề" name="bookCategory">
                </div>
                <div class="col-lg-3">
                    <button type="submit" class="btn btn-primary">
                        <span><i class="fa fa-search"></i></span>
                        <strong>Tìm kiếm</strong>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row book-row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-lg-3 book-item">
            <div class="book-item-wrap">
                <div class="book-item-figure" style="background:url('@Url.Content(String.Format("~/Images/Upload/{0}",@Html.DisplayFor(modelItem => item.Hinh_minh_hoa)+".jpg"))');background-size:cover">
                    <div class="preview">
                        <span><a href="#"><i class="fas fa-eye"></i>Xem chi tiết</a></span>
                    </div>
                </div>
                <div class="description">
                    <h3 class="book-label"><a href="#">@Html.DisplayFor(modelItem => item.Ten_sach)</a></h3>
                    <div class="category description-item"><strong>Danh mục: </strong><span>@Html.DisplayFor(modelItem => item.CHU_DE.Ten_chu_de)</span></div>
                    <div class="author description-item"><strong>Nhà xuất bản: </strong><span>@Html.DisplayFor(modelItem => item.NHA_XUAT_BAN.Ten_nha_xuat_ban)</span></div>
                </div>
            </div>
        </div>
    }
</div>


